<div class="customer-card">
  <h2><%= customer.full_name %></h2>

  <% if customer.image.attached? %>
    <%= image_tag customer.image, alt: "#{customer.full_name}'s image", class: "customer-image" %>
  <% else %>
    <%= image_tag "default.jpg", alt: "Default avatar", class: "customer-image" %>
  <% end %>

  <p><strong>Notes:</strong> <%= customer.notes.presence || "No notes provided." %></p>
  <p><%= customer.phone_number.presence%></p>
  <p><%= customer.email_address.presence%></p>
</div>
